<!------ Contact form ----->
<hr>
<div class='container'>
    <div class='contact_container row col-8'>
        <div class='contact'>
            <hr><div id='contact_title'>Contact Me</div><hr>
                  <label for="fname">First Name</label>
                    <input type="text" id="fname" name="firstname" placeholder="Your name..">
                <label for="lname">Last Name</label>
                    <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                <label for="subject">Message</label>
                    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
                <div id="submit_button">
                    <form method="post" action="mailto:sachi.manoharan89@gmail.com" >
                    <input type="submit" value="Submit"> 
                    </form>
                </div>
        </div>
    </div>
</div>
