 <!---- Title ----->
<div class="heading" ng-controller='HeaderCntrl'>
    <hr><span class='title'>{{appDetails.title}}</span><hr>
    <div class='row tagline'>
        <div class='col-2'></div>
        <div class='col-8'>
             <span>{{appDetails.tagline_1}}</span><br>
            <span>{{appDetails.tagline}}</span>
        </div>
    </div>
</div>
<!----- Quote ------>
<div id='quote' class='row'>
    <p id='quote_content' >
        <i class="fa fa-quote-left fa-2x" aria-hidden="true"></i>
        <span>
        A dream doesn’t become reality through magic; it takes determination and hard work<br></span>
        <span id='quote_author'>-Colin Powell</span>
    </p>
</div> 

