<!---- Independent Projects ---->
<hr>
<div class='container' ng-controller='IndepProCntrl'>
    <div class='row'>
        <span id='exp_title'>{{indeproject.title}}</span><br>
        <span id='exp_content'>{{indeproject.tagline}}</span>
    </div><br><br><hr>
    <div class='row projects'>
        <div class='col-3'></div>
        <div class='col-md-6'>
            <i class="fa fa-code fa-5x" aria-hidden="true"></i>
            <div class='container preface' ng-repeat='pro in project_1'>
                <span id='project_name'>{{pro.name}}</span><br>
                <span id='projects_descp'>{{pro.descrp}}</span><br><br>
                <i class="fa fa-circle-o-notch fa-2x" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div><hr>
<div id=github>
    <div class='col'>
        <span>Want to check out my project?<br>Click the button below.</span>
    </div>
    <div class='footer'>
        <div class='col'>
            <a href='https://github.com/Sachim89'>
            <button class='btn btn-primary'>
                <i class="fa fa-github fa-2x" aria-hidden="true"></i></button></a>
        </div>
    </div>
</div> 