<!------ Skills ---->
<div ng-controller='SkillsCntrl'>
     <div class='skills_grids row center'>
         <div class="container center heading">
             <span class='skills_title heading' style='color:white'>{{skill.title}}</span><br>
             <span class='skills_title heading' style='color:white'>{{skill.title_1}}</span><br>
             <span class='skills_title heading' style='color:white'>{{skill.title_2}}</span><br>
          </div>
    </div> 
    <div class='container'><br></div>
     <div class='about_experience about_heading row'>
        <div class='heading'>
            <div class='about_exp_content'>
               <div class='row casestudy_exp_table'>
                <div class="row skills_tiles">
                    <div class='col'>Strong front-end UI development skills using scripting languages like HTML5, CSS3, JavaScript, JQuery, AJAX, JSON, DOM.</div>
                    <div class='col'>Experience in creating a responsive web-enabled application using frameworks like Bootstrap.
                    </div><div class='col'>Experience with client-side scripting and hands-on experience with JavaScript frameworks such as JQuery.  
                    </div><div class='col'>Strong in AJAX, JSON and proficient in consuming RESTful services.
                    </div><div class='col'>Good knowledge in consuming third-party APIs such as GoogleMaps, Directions, Foursquare, and Twitter. 
                    </div>
                    <div class='col'>Experience in handling cross browser testing to ensure browser compatibility across multiple browsers.
                    </div>
                </div><br><br>
                <div class="row skills_tiles">
                    <div class='col'>Experience in utilizing Chrome Developer Tools for debugging process.
                    </div><div class='col'>Experience using Rational Rose to create UML diagrams for visualizing the design of the system. 
                    </div><div class='col'>Experience in writing User stories, creating Use Cases, Use case diagrams, Sequence diagrams, Activity diagrams and Class diagrams. 
                    </div><div class='col'>Hands-on experience in developing detailed Wireframes, Mockups, Prototypes, Storyboard to illustrate user interface and design concepts using Balsamiq.
                    </div>
                    <div class='col'>Experience working in Agile environment and used JIRA for defect management.
                    </div><div class='col'>Hands on experience working with Version Control Systems (VCS) like Apache Subversion and GitHub.
                    </div>
                </div><br><br>
                <div class="row skills_tiles">
                    <div class='col'>Profound knowledge in Object Oriented Programming concepts, Java.
                    </div><div class='col'>Experience in writing SQL queries and optimizing the queries in SQL Server.
                    </div><div class='col'>Good knowledge in utilizing Python libraries such as NumPy, Matplotlib, Scikit-Learn, Pandas and NLTK.
                    </div>
                    <div class='col'>Good understanding of basic concepts of AngularJS, Typescript, Wordpress.
                    </div><div class='col'>Ability to write well-documented, clear, well-commented and efficient code.
                    </div><div class='col'>Involvement in using various IDE’s like Eclipse, Visual Studio, Sublime Text and Brackets.
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
